In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

In [2]:
mesg = [
    "i love python",
    "python is fun",
    "python love datascience",
    "datascience is fun"
]

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [6]:
newx = cv.fit_transform(mesg).toarray()

In [7]:
newx

array([[0, 0, 0, 1, 1],
       [0, 1, 1, 0, 1],
       [1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0]], dtype=int64)

In [9]:
colname = cv.get_feature_names()

In [10]:
pd.DataFrame(newx, columns=colname)

   datascience  fun  is  love  python
0            0    0   0     1       1
1            0    1   1     0       1
2            1    0   0     1       1
3            1    1   1     0       0

In [11]:
o = "i love python python is fun python love datascience datascience is fun".lower().split()

In [13]:
list(set(o))

['datascience', 'love', 'fun', 'is', 'python', 'i']

In [14]:
#non alphabetical character
#remove the stopword , the i- subject noun, himself, herself, how when what

In [15]:
colname

['datascience', 'fun', 'is', 'love', 'python']